<footer class="page-footer font-small bg-secondary pt-4">

    <div class="container">

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-nos nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="https://www.facebook.com/generationbrasil" target="_black" class="icoFacebook"></a>
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/generationbrasil/" target="_black" class="icoInstagram"></a>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/school/generationbrasil/" target="_black" class="icoLinkedin"></a>
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light"> &copy; 2021 Copyright:</span>
        <a class="text-light" target="_blank" href="http://brasil.generation.org">brasil.generation.org</a>
    </div>

</footer>
